:root {
    --color-background: #121214;
    --blueice-button: #9b9bee;
    --color-shape: #202024;
    --color-borders: #9f9fff;
    --dark-blue: #363f5f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    background-image: url(./assets/supertrunfo.jpg);
    background-color: var(--color-background);
    background-size: 100%;
    background-position-y: 40%;
    background-repeat: no-repeat;

    background-blend-mode: soft-light;

    width: 100%;
    height: 100%;

    zoom: 80%;
}

a, button {
    cursor: pointer;
    text-decoration: none;
}

.button {
    opacity: 0.8;
}

.button:hover {
    opacity: 1;
}

/* header */

header {
    padding-top: 20px;
}

.header-content {
    width: 100%;
    max-width: 1120px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-auto-flow: row;
    height: 100%;
}

#logo {
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
}

#entrar {
    border: none;
    outline: none;
    color: #fff;
    background: var(--blueice-button);
    width: 100%;
    border-radius: 3px;
    padding: 12px 32px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    max-width: 118px;
}

/* main */
.container {
    width: min(90vw, 800px);
    max-width: 1120px;
    margin: 0 auto;
}

/* titles */
h1 {
    font-size: 55px;
    line-height: 1;
    text-align: center;
    color: #fff;
    width: 100%;
    max-width: 615px;
    margin: 0 auto;
}

.taba {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flix_ {
    background: var(--blueice-button);
    padding: 5px;
    border-radius: 0.6rem;
}

#boll-title {
    width: 6rem;
    height: 5rem;
}

/* top-content */
#top-content {
    display: grid;
    justify-content: center;
    align-items: center
}

button {
    width: 100%;
    max-width: 230px;
 
    border: none;
    outline: none;
    color: #fff;
    background: var(--blueice-button);
    border-radius: 5px;
    padding: 12px 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease;
    font-size: 18px;
    line-height: 26px;
    margin: 1.5rem auto;
}

button:disabled {
    opacity: 0.4;
}

/* cards */
h2 {
    color: white;
    text-align: center;

    margin-bottom: 0.5rem;
}


#carta-jogador, #carta-maquina {
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 300px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 5px;
    border-radius: 33px;
}

#carta-jogador h3 {
    text-align: center;
}

.carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.carta-imagem img {
    width: 100%;
    height: 100%;
}

.carta-status {
    height: 165px;
    margin: 2rem;
    color: white;
    z-index: 2;
}

.carta-status input {
    margin: 20px 10px;
}

.carta-status p {
    margin-bottom: 2rem;
}

.resultado-final {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1rem;
    border: 2px solid black;
    background-color: black;
}

.--spacing {
    margin: 0 0 15px 50px;
}

form {
    display: flex;
    flex-direction: column;


}

.wrapper {
    display: flex;
    flex-direction: column;

}

.carta-subtitle {
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 37px;
    font-weight: 800;
    text-transform: uppercase;
}

#cartas {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



#placar, #quantidade-cartas {
    color: white;
    text-align: center;
    
}

/* footer */
footer {
    color: white;
    text-align: center;
    padding: 4rem 0 2rem;

    opacity: 0.5;
}